<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8" />
<link rel="stylesheet" href="assets/style.css" />
  <!-- Open Graph / WhatsApp Preview -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Static websites on GitHub" />
  <meta property="og:description" content="Step by step instructions for converting your website to a free GitHub page." />
  <meta property="og:image" content="https://cdn.jsdelivr.net/gh/owen-kellie-smith/static-websites@1.0.0/assets/Seaton_Beach_panoramio_35.png" />
  <meta property="og:image:width" content="960" />
  <meta property="og:image:height" content="504" />
  <meta name="robots" content="index, follow" />
  <!-- Twitter Card (Optional, improves other platforms) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Step by step instructions for converting your website to a free GitHub page." />
  <meta name="twitter:title" content="Static websites on GitHub" />
  <meta name="twitter:image" content="https://cdn.jsdelivr.net/gh/owen-kellie-smith/static-websites@1.0.0/assets/Seaton_Beach_panoramio_35.png" />


